body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.03em;
    line-height: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav:hover, .contact-header:hover, .contact-footer:hover,
.logo:hover, .address:hover {
    color: #2196F3;
    /* text-decoration: underline; */
    cursor: pointer;
}

.buttons:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    /* text-decoration: underline; */
    cursor: pointer;
}

.nav:focus, .contact-header:focus, .contact-footer:focus,
.logo:focus, .address:focus {
    color: #2196F3;
}

.buttons:focus {
    color: #FFFFFF;
    background-color:  #2196F3;
}

footer, .section-main {
    background-color: #2F303A;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-header {
    color: #212121;
}

.logo-footer {
    color: #FFFFFF;
}

.nav {
    color: #212121;
}

.contact-header {
    color: #757575;
    font-style: normal;
}

.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.address {
    color: #FFFFFF;
    font-style: normal;
}

.button-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #188CE8;
}

.buttons {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    background-color: #F5F4FA;
}

.desc {
    font-size: 16px;
    line-height: 30px;
}

.header-main {
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 60px;
}

.header-project {
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    line-height: 36px;
}

.header-section {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
    line-height: 42px;
    text-align: center;
}

.header-feature {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
    text-transform: uppercase;
    line-height: 16px;
}

.header-name {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    line-height: 19px;
    text-align: center;
}

.desc-name {
    line-height: 19px;
    text-align: center;
}

.desc-project {
    color: #757575;
}

.studio, .portfolio {
    color: #2196F3;
}